h2, h3, .ms-h2, .ms-h3, .ms-headerFont{
	font-family: "Oswald";
}
.ms-srch-result, .ms-srch-result h3 {
	font-family:"Quattrocento","Arial","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif
}
#s4-titlerow{
	display:inline-block;
	width:100%;
	height:105px;
}
.ms-breadcrumb-top .ms-mpSearchBox, .welcomeRight{
	display:none;
}

.view .connectHeader .pageImage{
	z-index:0;
}
.connectHeader h1{
	z-index:10;
}

/*Search Styles*/

#DeltaPlaceHolderMain #SearchBox>div{
	height:34px;
}
.ms-srch-sbLarge > .ms-srch-sb-searchLink{
	border-radius:0 3px 3px 0;
	float: right;
}
.search-column{
	float:left;
}
.search-body{
	position:relative;
	margin-top:20px;
}
.ms-srch-item-body div:nth-child(3){
	margin: 9px 0px 2px;
	color:#7b7b7b;
}
.left-column{
	margin-right:4%;
	background-color:#F2F2F2;
	padding:5px 20px;
}
.left-column-header{
	font-family: "Oswald";
	color:#4A4A4A;
	padding:2px 0 15px 0;
}
.left-column i{
	float: left;
    cursor: pointer;
    color: #cc0a0a;
    font-size: 1.5em;
    position: relative;
	padding:6px 4px 4px 0;
} 
.filter-btn{
	width:200px;
	margin:10px 10px 30px 10px;
	padding:2px 10px 0px 10px;
	background-color:#eee;
	border:1px solid #ccc;
	display:none;
}
.filter-btn:hover{
	text-decoration:none;
	background-color:#ddd;
}
.filter-btn h2{
	display:inline-block;
}
.filter-btn i{
	float: left;
    cursor: pointer;
    color: #cc0a0a;
    font-size: 1.5em;
    position: relative;
	padding:6px 4px 4px 0;
}
.filter-btn .icon-caret-down {
	float:right;
	color:#282828;
	padding:0px;
	margin-top:10px;
}



.ms-core-listMenu-selected > div{
	color:#CC0A0A !important;
}
.ms-ref-refinername > div{
	font-family: "Oswald";
	color:#4A4A4A;
}
.ms-srchnav-link-selected:link, .ms-srchnav-link-selected:visited, .ms-srchnav-link:hover, .ms-srchnav-link-selected:hover{
	color:#CC0A0A;
	border-bottom:2px solid #CC0A0A;
	padding-bottom:9px;

}
.ms-srchnav{
	border-bottom:1px solid #D2D2D2;
	padding-bottom:10px;
}
.ms-srch-sbLarge{
	border-radius:4px;
}
.main-content{
	width:70%;
}
#sideNavBox{
	display:none !important;
}
#sideNavBox {
display:none !important;
}
#contentRow{
	margin-top:0px !important;
	padding-top:0px;
}
#contentBox{
	margin-right:0px;	
}
#s4-content {
margin-left:0px !important;
}

div#contentBox.centered-content>#DeltaPlaceHolderMain {
width:100% !important;
}
.ms-srch-item-path{
	color:#7b7b7b !important;
}
.ms-srch-item:hover, .ms-srch-resultHover:hover, .edisc-SearchResultItemContainer:hover {
    background-color: rgba(204, 10, 10, 0.20) !important;
}
.ms-srch-hover-outerContainer {
	margin-top: -280px !important;
}

@media (max-width: 992px){
	#SearchBox{
		width: 100%;
	}
	.search-column{
		padding:0 20px;
	}
	.left-column{
		position:absolute;
		top:50px;
		z-index:100;
	}
	.left-column-header, .ms-srch-hover-outerContainer, .ms-srch-hover-content{
		display:none;
	}
	.filter-box{
		padding-top:15px;
		display:none;
	}
	.filter-btn{
		margin-left: 20px;
		display:block;
	}
	.left-column, .main-content{
		width:100%;
		float:left;
	}
	.Open{
		display:block;
	}
	.ms-srch-sbLarge-fullWidth input{
		width:100%;
	}
		.ms-srch-item, .ms-srch-communityItem-body, .ms-srch-item-metadataContainer{
		width:100%;
		white-space:normal;
		overflow:visible;
		
	}
	.ms-srch-item{
		border-bottom: 1px solid #e6e6e6;
		display:inline-block;
	}
	.ms-srch-item-metadataContainer, .ms-srch-hover-outerContainer{
		display:none !important;
	}
	.ms-srch-item-summary *, .ms-srch-item-path * {
		float:left !important;
		width:100%  !important;
	}
	.ms-srch-item-path{
		width:100%;
	}
	.search-column .search-results-column .ms-webpart-zone, #mainbody .search-results-column .ms-webpart-cell-vertical{
		display:inline-block;
	
	}
	
	.search-column .ms-srch-sbLarge{
		width:100%;
	}
	.search-column .ms-srch-sbLarge-fullWidth {
	    width: 82%;
	}
	.main-content {
	    width: 96%;
	}
	.ms-srch-item-body{
		width:100%;
	}
	.ms-srch-upscope-top{
		width:100% !important;
		display:inline-block;
	}
	.search-column .ms-srchnav-item {
	    padding: 8px 20px 0px 0px;
	}
	.search-column .ms-srch-item-link {
	    display: inline-block;
	    display: inline-block;
	    width: 100%;
	    font-size: 18px;
	    word-wrap: normal;
    white-space: normal;
    float: left;
	}
	.ms-srch-item-previewContainer{
		float:left;
	}
	
}

