<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="BSIB2CDev.onmicrosoft.com" />
    <add key="b2c:ClientId" value="61eb9d21-9472-4af2-8b39-69647f309aa8" />
    <add key="b2c:ClientSecret" value="7VNxTdHqru1Uqfyw+Qj0ZzVYQLdYgnNB6C0kt0ZXsn4=" />
  <!-- app key 14`"q(W4643-Pf)F -->
  </appSettings>
</configuration>